<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
  </head>
  <body>
    <header class="container">
      <nav class="navbar navbar-expand-custom navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Scissors</a>
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="/users/logout">Log out</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="container container-lg container-md container-sm">
      <div>
        <% data.forEach(function(item){ %>
        <h1>Error <%= item.code %></h1>
        <p><%= item.message %></p>
        <% }); %>
      </div>
      <button class="btn btn-success">
        <a id="createAcc" href="/users/dashboard">Go home</a>
      </button>
    </main>
    <footer><%- include("partials/footer.ejs") %></footer>
  </body>
</html>
