<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
  </head>
  <body>
    <header class="container">
      <nav class="navbar navbar-expand-custom navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Scissors</a>
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="/users/login">Login</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="container container-lg container-md container-sm">
      <form class="mt-5 mx-auto w-80" action="/users/signup" method="POST">
        <h4>Create account</h4>
        <p>Fill your details below:</p>
        <% if (locals.message) { %>
        <p class="errMessage">Error: <%= message %></p>
        <script>
          setTimeout(() => {
            document.querySelector(".errMessage").style.display = "none";
          }, 5000);
        </script>
        <% } %>
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            class="form-control"
            name="username"
            placeholder="Input username here"
            required
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            name="email"
            placeholder="Input email here"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            placeholder="Input password here"
            required
          />
          <div id="emailHelp" class="form-text">
            Your password is secured with encryption.
          </div>
        </div>
        <button type="submit" class="btn btn-success">Sign up</button>
      </form>
    </main>
    <footer><%- include("partials/footer.ejs") %></footer>
  </body>
</html>
